/*@import url('//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css');*/


.margin-top-normal
{
	margin-top: 20px;
}

ul
{
	list-style-type: none;
	padding-left: 0px;
}

#header div a
{
	padding: 0px 0px 20px 20px;
}

#header .right
{
	float: right;
}


table {
	width: 100%;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
	content: ' ';
	display: block;
	visibility: hidden;
	clear: both;
}

thead th {
	height: auto;
}

tbody {
	height: 260px;
	overflow-y: auto;
}

tbody td, thead th {
	width: 50%;
	float: left;
}

